<header class="header-container">
  <div class="header-content">
    <div class="header-content-text">
      <h1>
        Want to be a developer or UI/UX designer?
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <button class="apply-button">Apply Now</button>
    </div>

    <img
      class="header-content-image"
      src="images/illustration-working.svg"
      alt=""
    />
  </div>
</header>
