<!-- menu -->
<div class="menu-container">
  <nav class="menu">
    <div class="logo">
      <a href="index.html"> <i class="fa fa-code"></i> TechCamp </a>
    </div>
    <div class="nav-items">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Programs</a></li>
        <li class="apply"><a href="#">Apply Now</a></li>
      </ul>
    </div>
    <div class="search" id="search-icon">
      <i class="fa fa-search"></i>
    </div>
  </nav>
</div>


<!-- end of menu -->
