<div class="training-container">
  <div class="training-content">
    <div class="training-content-title">
      <h2>Our Courses</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="training-content-text">
      <%- include('training-item') %>
    </div>
  </div>
</div>
